<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
	<div th:fragment="navbar">
		<!-- Navigation Bar -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="/">
				<div class="bg-success rounded-circle" style="width: 50px; height: 50px;"></div>
			</a>
			<span class="navbar-text mx-3">Site Name</span>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarContent">
				<!-- Search Form -->
				<form class="form-inline my-2 my-lg-0 mr-auto">
					<input class="form-control mr-sm-2" type="search" placeholder="Search site" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form>
				<!-- Login Button -->
				<a href="/login" class="btn btn-outline-success my-2 my-sm-0 mx-2" id="loginButton">Login</a>
				<!-- Menu Button-->
				<button class="btn btn-outline-success my-2 my-sm-0" id="offcanvasButton">Menu</button>
			</div>
		</nav>

		<!-- Off-Canvas Menu -->
		<div class="offcanvas-collapse" id="offcanvasCollapse">
			<div class="p-4">
				<h5 class="text-white">Menu</h5>
				<ul class="nav flex-column">
					<li class="nav-item"><a href="/createProduct">Create Product</a></li>
					<li class="nav-item"><a href="/deleteProduct">Delete Product</a></li>
					<li class="nav-item"><a href="/updateProduct">Update Product</a></li>
					<li class="nav-item"><a href="/">Home</a></li>
				</ul>
			</div>
		</div>

		<!-- Bootstrap and jQuery Scripts -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script>
			$(document).ready(function () {
				$('#navbarSideCollapse, #offcanvasButton').on('click', function () {
					$('#offcanvasCollapse').toggleClass('open'); // Toggles the off-canvas menu
				});

				$(document).on('click', function (e) {
					if (!$(e.target).closest('#offcanvasCollapse, #navbarSideCollapse, #offcanvasButton').length) {
						$('#offcanvasCollapse').removeClass('open'); // Closes the off-canvas menu when clicking outside of it
					}
				});
			});
		</script>
	</div>
	</div>
</body>

</html>